<button id="findSongs" class="btn btn-success">songs!</button>
<button id="loginSpotify" = class="btn btn-sucess">login!</button>
<button id="showMyPlaylists" = class="btn btn-sucess">my playlists!</button>

<div class="container">
    <div id="user_playlists"></div>
</div>
