<div class="side-nav">
  <br><br>
  <a href="/"><div class=".side-nav-imgbox">
    <img src="/assets/mpulselogo.png" class="side-nav-img"/><br><br>
  </div></a>
  <a href="#About"><div class="side-nav-btn">
    About
  </div></a>
  <a href="#Team"><div class="side-nav-btn">
    Team
  </div></a>
  <a href="#Contact"><div class="side-nav-btn">
    Contact
  </div></a>
  <a href=""><div class="side-nav-btn">
    Help
  </div></a>
  <a href=""><div class="side-nav-btn">
    FAQ
  </div></a>
</div>