<div class="side-nav">
  <br><br>
  <a href="/"><img src="/assets/mpulselogo.png" class="side-nav-img"/></a><br><br>
  <div class="side-nav-btn">
    About Us
  </div>
  <div class="side-nav-btn">
    Team
  </div>
  <div class="side-nav-btn">
    Help
  </div>
  <div class="side-nav-btn">
    FAQ
  </div>
  <div class="side-nav-btn">
    Contact Us
  </div>
</div>