<div class="side-nav">
  <br><br>
  <a href="/"><div class=".side-nav-imgbox">
    <img src="/assets/mpulselogo.png" class="side-nav-img"/><br><br>
  </div></a>
  <a href="/about"><div class="side-nav-btn">
    About Us
  </div></a>
  <div class="side-nav-btn">
    Team
  </div>
  <div class="side-nav-btn">
    Help
  </div>
  <div class="side-nav-btn">
    FAQ
  </div>
  <div class="side-nav-btn">
    Contact Us
  </div>
</div>