<%= render partial: "sidenav" %>
<%= render partial: "staticnav" %>
<div class="container">
  <div class="static-page" id="About">
    <!-- <div class="static-banner"> -->
      <h1 class="static-title">About <img src="assets/mpulselogo.png" height="20"/></h1>
    <!-- </div> -->
      <br>
      <p class="static-para">We met during our three months at Dev Bootcamp in San Francisco. During one of our group projects, we started talking about how cool it would be to download playlists based on the pace of a run - and that's when the mpulse idea was born. We saved the idea to work on after DBC and now it's our fun side project until Google Fitness buys it for billions of dollars.</p>
  </div>
</div>