<%= render partial: "sidenav" %>
<div class="container">
  <div class="static-page" id="About">
    <!-- <div class="static-banner"> -->
      <h1 class="static-title">About <img src="assets/mpulselogo.png" height="20"/></h1>
    <!-- </div> -->
      <br>
      <p class="static-para">The four of us met during our three months at Dev Bootcamp in San Francisco. During one of our group projects, we came up with the idea for mpulse because we wanted to be able to download playlists based on the pace of a run. We saved the idea to work on after DBC and now it's our fun side project until Google Fitness buys it for billions of dollars.</p>
  </div>
</div>