<%= render partial: "sidenav" %>
<div class="container">
  <div class="static-page">
    <div class="static-banner">
      <h1 class="static-title">About <img src="assets/mpulselogo.png" height="20"/></h1>
    </div>
  </div>
</div>