<%= render partial: "sidenav" %>
<div class="container">
  <div class="static-page">
    <!-- <div class="static-banner"> -->
      <h1 class="static-title">About <img src="assets/mpulselogo.png" height="20"/></h1>
      <br>
      <p class="static-para">The four of us met during our three months at Dev Bootcamp in San Francisco. During one of our group projects, we came up with the idea for mpulse because we wanted to be able to download playlists based on the pace of a run. We saved the idea to work on after DBC and now it's our fun side project until Google Fitness buys it for billions of dollars.</p>
    <!-- </div> -->
  </div>
</div>
<div class="container homepage">
  <section class="row">
    <div class="line col-md-6">
    </div>
  </section>
  <div class="intro-section in-bk medium">
    <h1 class="static-title">Team <img src="assets/mpulselogo.png" height="20"/></h1>
      <div class="sliderbtn">
        <img src="assets/vanessa.jpg" class="sliderimg" height="200px">
        <div class="slider-text large"><br>Vanessa Biggers</div>
      </div>
      <br>
      <div class="sliderbtn">
        <img src="assets/lawrence.jpg" class="sliderimg"height="200px">
        <div class="slider-text large"><br>Lawrence Ma</div>
      </div>
      <br>
      <div class="sliderbtn">
        <img src="assets/melissa.jpg" class="sliderimg" height="200px">
        <div class="slider-text large"><br>Melissa Porto</div>
      </div>
      <br>
      <div class="sliderbtn">
        <img src="assets/yen.jpg" class="sliderimg" height="200px">
        <div class="slider-text large"><br>Yen Tran</div>
      </div>
  </div>
  <section class="row">
      <div class="line col-md-6">
      </div>
    </section>
    <div class="intro-section">
      <h1 class="static-title">Help from <img src="assets/mpulselogo.png" height="20"/></h1>
    </div>
    <section class="row">
      <div class="line col-md-6">
      </div>
    </section>
    <div class="intro-section">
      <h1 class="static-title"><img src="assets/mpulselogo.png" height="20"/>     FAQ</h1>
    </div>
    <section class="row">
      <div class="line col-md-6">
      </div>
    </section>
    <div class="intro-section">
      <h1 class="static-title">Contact <img src="assets/mpulselogo.png" height="20"/></h1>
    </div>
  </div>
</div>