<%= render partial: "sidenav" %>
<%= render partial: "staticnav" %>
<div class="container">
  <div class="static-page">
    <h1 class="static-title">Contact <img src="assets/mpulselogo.png" height="20"/></h1>
    <br>
      <p class="static-para">Want to ask us a question or give us some feedback on the site/app? Send us an email at <a href="mailto:gompulse@gmail.com">gompulse@gmail.com.</a></p>
  </div>
</div>