<%= render partial: "sidenav" %>
<%= render partial: "staticnav" %>
<div class="mobile-background">
</div>
<div class="container">
  <div class="static-page">
    <h1 class="static-title"><img src="assets/mpulselogo.png" height="20"/> FAQ</h1>
    <br>
      <ul class="static-para">
        <li>What if I don't know my BPM that corresponds with my running pace?
          <br>
          <p class="faq_answer">That's okay! Just enter your min/mile pace and we'll figure out what BPM range will fit!</p>
        </li>
        <li>I don't run. Can I still use mpulse?
          <br>
          <p class="faq_answer">Definitely! You can make mpulse playlists for any activity - driving, studying, relaxing, working out, etc.</p>
        </li>
        <li>Your company seems really friggin' awesome...are you hiring?
          <br>
          <p class="faq_answer">Not yet, but check back on our Team page to see when we start growing the mpulse group!</p>
        </li>
      </ul>
  </div>
</div>
