<%= render partial: "sidenav" %>
<%= render partial: "staticnav" %>
<div class="container">
  <div class="static-page">
    <h1 class="static-title"><img src="assets/mpulselogo.png" height="20"/> Help</h1>
    <br>
      <p class="static-para">Um...you need help? Really? It's not that complicated. Make a spotify account, add songs you like, done. Check out the FAQ page...</p>
  </div>
</div>