<div id="songHolder"></div>
<div id="songPlayer"><iframe src='https://embed.spotify.com/?uri=spotify:track:' frameborder="0" allowtransparency="true"></iframe></div>


<div ng-app="song" ng-controller="SongController as song">
	<b>Find a Song:</b>
	<div>
		Spotify Song ID: <input type="text" ng-model="song.id" required >
	</div>
	<button class="btn" ng-click="song.find()">Find</button>
	<button class="btn" ng-click="song.login()">Log In</button>


</div>

<div ng-app="tempo" ng-controller="TempoController as tempo">
	<b>Find Songs by Tempo (BPM):</b>
	<div>
		Minimum: <input type="text" ng-model="tempo.min" required >
	</div>
	<div>
		Maximum: <input type="text" ng-model="tempo.max" required >
	</div>
	<button class="btn" ng-click="tempo.find()">Find</button>

</div>




