<%= render partial: "navbar" %>
  <div class="fixed-title homepage" id="top">
    <div class="title-top">
      <h1 class="title">Welcome to <img src="assets/mpulselogo.png" height="20px"/></h1>
        <img src="assets/mpulse_grid2.png" class="top-image"/>
    </div>
    <div class="title-bottom">
      <a href="#GetStarted"><div class="title-buttons" id="getstartedbtn">
        <h3>Get Started</h3>
        <div class="title-btn-txt regular">
          <p>
            All you need in order to use mPulse is a Spotify Account, if you don't have one just sign up for one here!
          </p>
        </div>
      </div></a>
      <a href="#HowWorks"><div class="title-buttons">
        <h3>How it Works</h3>
        <div class="title-btn-txt regular">
          <p>
            Using mPulse is easy!  Log in with your Spotify account and you can instantly start creating playlists based on your running pace.
          </p>
        </div>
      </div></a>
      <a href="#Train"><div class="title-buttons">
        <h3>Train</h3>
        <div class="title-btn-txt regular">
          <p>
            Using mPULSE's training program we can create a musical training program tailored just for you!
          </p>
        </div>
      </div></a>
    </div>
  </div>
<div class="container homepage">
  <div class="intro-section in-bk medium" id="GetStarted">
    <h2>Get Started with <img src="assets/mpulselogo.png" height="16px"/></h2>
      <a href=""><div class="section-box ft-lf"><br><br>
        <img src="assets/mpulselogo.png"/><br><br><br>
        <p>
          If you have spotify you can start creating an mPULSE playlist right away!
        </p>
      </div></a>
      <a href=""><div class="section-box ft-lf">
        <img src="assets/spotify.png" /><br>
        <p>
          Don't have Spotify?  No problem, just sign up for your free Spotify account here!
        </p>
      </div></a>
  </div>
  <section class="row">
    <div class="line col-md-6">
    </div>
  </section>
  <div class="intro-section flipper-container" id="HowWorks">
    <h2>How <img src="assets/mpulselogo.png" height="16px"/> Works</h2>
      <p class="medium">
        Using both Echonest and Spotify we are able to bring you playlists that are specifically tailored for your own workout, run or training.  All you need to do is enter in your running pace or the beats per minute (BPM) that you need and you can get suggested playlists or create your own that will work best for you.
      </p>
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <!-- front content -->
            <div>
              <img src="assets/echonest.gif" height="200"/>
            </div>
          </div>
          <div class="back">
            <!-- back content -->
            <div class="flip-text large">
              We use the Echonest API to get the beats per minute of your favorite workout songs.
            </div>
          </div>
        </div>
      </div>
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <!-- front content -->
            <img src="assets/spotify.png" height="200"/>
          </div>
          <div class="back">
            <!-- back content -->
            <div class="flip-text large">
              Using Spotify, you can create playlists based on your running pace
            </div>
          </div>
        </div>
      </div>
  </div>
  <section class="row">
    <div class="line col-md-6">
    </div>
  </section>
  <div class="intro-section" id="Train">
    <h2>Train with <img src="assets/mpulselogo.png" height="16px"/></h2>
    <div class="sliderbox">
      <img src="assets/run.jpg" class="runimg ft-rt"/>
      <div class="slider-text large"><br>With the mPULSE trainer you can enter in your goals as well as your timeframe and we'll help you create playlists tailored specifically to help you train.</div>
    </div>
  </div>
  <section class="row">
    <div class="line col-md-6">
    </div>
  </section>
</div>
<div class="footer center regular">
  <section class="center_div">
    <div class="line-break col-sm-offset-3 col-md-6">
      <img src="assets/mpulselogo.png" height="12px" class="col-sm-offset-5 col-md-2"/>
    </div>
    <div class="col-sm-offset-3 col-md-2">
      <span class="footer-heading">mPULSE</span>
      <p><a href="/about">About Us</a></p>
      <p><a href="/team">Team</a></p>
      <p><a href="#">Jobs</a></p>
    </div>
    <div class="col-md-2">
      <span class="footer-heading">Connect</span>
      <p><a href="#">Facebook</a></p>
      <p><a href="#">Twitter</a></p>
      <p><a href="#">Google+</a></p>
    </div>
    <div class="col-md-2">
      <span class="footer-heading">Support</span>
      <p><a href="/help">Help</a></p>
      <p><a href="/faq">FAQ</a></p>
      <p><a href="/contact">Contact Us</a></p>
    </div>
  </section>
</div>



