<%= render partial: "navbar" %>
<div class="container homepage" id="top">
  <div class="fixed-title">
    <div class="title-top">
      <h1>Welcome to <img src="assets/mpulselogo.png" height="20px"/></h1>
        <img src="assets/mpulse_grid2.png" class="top-image"/>
    </div>
  </div>
  <div class="intro-section" id="GetStarted">
    <h2>Get Started with <img src="assets/mpulselogo.png" height="16px"/></h2>
      <div>
        If you have spotify you can start creating an mPULSE playlist right away!
      </div>
      <div>
        Don't have Spotify?  No problem, just sign up for your free Spotify account here!
      </div>
  </div>
  <section class="row">
    <div class="line col-md-6">
    </div>
  </section>
  <div class="intro-section" id="HowWorks">
    <h2>How <img src="assets/mpulselogo.png" height="16px"/> Works</h2>
  </div>
  <section class="row">
    <div class="line col-md-6">
    </div>
  </section>
  <div class="intro-section" id="Train">
    <h2>Train with <img src="assets/mpulselogo.png" height="16px"/></h2>
  </div>
  <section class="row">
    <div class="line col-md-6">
    </div>
  </section>
  <div class="intro-section" id="About">
    <h2>About <img src="assets/mpulselogo.png" height="16px"/></h2>
  </div>
  <section class="row">
    <div class="line col-md-6">
    </div>
  </section>
</div>
<div class="footer center regular">
  <section class="center_div">
    <div class="line-break col-sm-offset-3 col-md-6">
      <img src="assets/mpulselogo.png" height="12px" class="col-sm-offset-5 col-md-2"/>
    </div>
    <div class="col-sm-offset-3 col-md-2">
      <span class="footer-heading">mPULSE</span>
      <p><a href="#">Team</a></p>
      <p><a href="#">Mission</a></p>
      <p><a href="#">Jobs</a></p>
    </div>
    <div class="col-md-2">
      <span class="footer-heading">Connect</span>
      <p><a href="#">Facebook</a></p>
      <p><a href="#">Twitter</a></p>
      <p><a href="#">Google+</a></p>
    </div>
    <div class="col-md-2">
      <span class="footer-heading">Support</span>
      <p><a href="#">Help</a></p>
      <p><a href="#">Terms and Conditions</a></p>
      <p><a href="#">Contact Us</a></p>
    </div>
  </section>
</div>



