<%= render partial: "appnavbar" %>
<div class="app-container">
  <h1>Your Playlists</h1>
  <div class="playlist-container">
    <div class="playlist-section">
      <h2>Playlist Name</h2>
      <p>playlist description</p>
    </div>
    <div class="playlist-section">
      <h2>Playlist Name</h2>
      <p>playlist description</p>
    </div>
    <div class="playlist-section">
      <h2>Playlist Name</h2>
      <p>playlist description</p>
    </div>
    <div class="playlist-section">
      <h2>Playlist Name</h2>
      <p>playlist description</p>
    </div>
    <div class="playlist-section">
      <h2>Playlist Name</h2>
      <p>playlist description</p>
    </div>
    <div class="playlist-section">
      <h2>Playlist Name</h2>
      <p>playlist description</p>
    </div>
    <div class="playlist-section">
      <h2>Playlist Name</h2>
      <p>playlist description</p>
    </div>
    <div class="playlist-section">
      <h2>Playlist Name</h2>
      <p>playlist description</p>
    </div>
  </div>
</div>