<%= render partial: "sidenav" %>
<%= render partial: "staticnav" %>
<div class="container">
  <div class="static-page">
    <h1 class="static-title">Team <img src="assets/mpulselogo.png" height="20"/></h1>

    <!-- Vanessa Modal -->
    <img src="assets/vanessa.jpg" class="team_pic" data-toggle="modal" data-target="#vModal">
    <div class="modal fade" id="vModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Vanessa Biggers</h4>
          </div>
          <div class="modal-body">
            Vanessa has a background in biology and found her perfect job (bio-web dev) post-DBC working at Transcriptic. She loves the outdoors, riding her bike, cross-country skiing, grabbing a beer with friends and will one day fulfill her dream of traveling around in a van while coding. And, she's one of the most genuine, awesome people you'll ever meet. Fun fact: she's a vegetarian but one of the few FB pics she has she is holding a ginormous fish.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <!-- Lawrence Modal -->
    <img src="assets/lawrence.jpg" class="team_pic" data-toggle="modal" data-target="#lModal"/>
    <div class="modal fade" id="lModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Lawrence Ma</h4>
          </div>
          <div class="modal-body">
            Lawrence currently works at Globant and is Semi-Senior at basically everything he does. In his free time, he builds other people's websites and has created most of the structure of the mpulse front-end. He also likes going to the gym, the SF Giants (obv), In N Out burgers, and making people laugh. He can impersonate anyone/everyone and has every line of Friends memorized (which is awesome for his co-founders). Fun fact: His wallet is too small for his fifties and his diamond shoes are too tight.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <!-- Melissa Modal -->
    <img src="assets/melissa.jpg" class="team_pic" data-toggle="modal" data-target="#mModal"/>
    <!-- </button> -->
    <div class="modal fade" id="mModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Melissa Porto</h4>
          </div>
          <div class="modal-body">
            Melissa is currently working at Autodesk as a "Ruby Developer" who doesn't actually write any Ruby code. She's super excited to use mpulse to increase her run pace and loves that she gets to work with two pretty kickass DBC friends. She loves running, climbing, wine, Reese's Pieces, and puppies. Fun fact: She is ridiculously clutzy, which makes even running a somewhat dangerous sport.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>