<%= render partial: "sidenav" %>
<div class="container">
  <div class="static-page">
    <h1 class="static-title">Team <img src="assets/mpulselogo.png" height="20"/></h1>
      <div class='pic-wrapper'>
        <span class='team-name'>Vanessa Biggers</span>
        <img src="assets/vanessa.jpg" class="team-pics">
      </div>
      <div class='pic-wrapper'>
        <span class='team-name'>Lawrence Ma</span>
        <img src="assets/lawrence.jpg" class="team-pics">
      </div>
      <div class='pic-wrapper'>
        <span class='team-name'>Melissa Porto</span>
        <img src="assets/melissa.jpg" class="team-pics">
      </div>
      <div class='pic-wrapper'>
        <span class='team-name'>Yen Tran</span>
        <img src="assets/yen.jpg" class="team-pics">
      </div>
  </div>
</div>