body {
  background-color: #303030;
  color: #F8F8F8;
  font-family: 'Ek Mukta', sans-serif;
}
.medium {
  font-size: 1.25em;
}
.large {
  font-size: 2em;
}
.homepage {
  font-family: 'Quicksand', sans-serif;
}
.fixed-title {
  height: 800px;
  padding: 8%;
  margin-top: 80px;
  margin-bottom: 40px;
  background-color: #282828;
}
.title-top {
  height: 150px;
  width: 100%;
  position: relative;
}
.title-bottom {
  text-align: center;
  display: inline-block;
  width: 100%;
}
.title-buttons {
  height: 450px;
  width: 23%;
  margin: 1%;
  background-color: #0066FF;
  float: left;
  opacity: 0.8;
  color: white;
}
.title-buttons:hover {
  opacity: 1;
}
.title-btn-txt {
  opacity: 0;
  height: 100%;
  padding: 2%;
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  transition: opacity 0.8s;
}
.title-btn-txt:hover {
  opacity: 1;
}
.top-image {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  -webkit-transition: height 0.8s;
  -moz-transition: height 0.8s;
  transition: height 0.8s;
}
.top-image:hover {
  height: 200px;
}
.navbar a {
  font-size: 1.15em;
}
.center {
  text-align: center;
}
.intro-section {
  min-height: 500px;
  width: 100%;
  padding: 5%;
  background-color: #282828;
}
.line {
  height: 500px;
  border-right: solid #282828;
}
.footer {
  width: 100%;
  background-color: #282828;
  min-height: 200px;
  color: #F8F8F8;
}

.footer-heading {
  color: #8C8C8C;
}

.footer a:hover {
  text-decoration: none;
}

.line-break {
  height: 25px;
  margin-top: 10px;
  margin-bottom: 25px;
  border-bottom: 2px solid #8C8C8C;
}