body {
  background-color: #303030;
  color: #F8F8F8;
  font-family: 'Ek Mukta', sans-serif;
  background-image: url('running_bkgrd2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.regular {
  font-size: 1.25em;
}
.medium {
  font-size: 1.5em;
}
.large {
  font-size: 2em;
}
.homepage {
  font-family: 'Quicksand', sans-serif;
}
.fixed-title {
  height: 1000px;
  width: 100%;
  padding: 15%;
  margin-bottom: 100px;
  /*background-color: #282828;*/
}
.title {
  margin-left: 50px;
}
.title-top {
  height: 200px;
  width: 100%;
  padding-top: 30px;
  position: relative;
  background-color: rgba(0,0,0,0.7);
  border-radius: 3px;
}
.top-image {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  -webkit-transition: height 0.8s;
  -moz-transition: height 0.8s;
  transition: height 0.8s;
}
.title-top:hover .top-image {
  height: 200px;
}
.title-bottom {
  text-align: center;
  display: inline-block;
  width: 100%;
}
.title-buttons {
  height: 70px;
  width: 23%;
  margin: 1%;
  background-color: rgba(0,0,0,0.6);
  float: left;
  color: white;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  transition: background-color 1s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  transition: height 0.5s;
}
.title-buttons:hover {
  height: 225px;
  background-color: rgba(0,100,250,0.7);
  font-weight: normal;
}
.title-btn-txt {
  opacity: 0;
  height: 100%;
  padding: 2%;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  transition: opacity .2s;
}
.title-buttons:hover .title-btn-txt {
  opacity: 1;
}
.navbar a {
  font-size: 1.15em;
}
.center {
  text-align: center;
}
.intro-section {
  min-height: 500px;
  width: 100%;
  padding: 5%;
  background-color: rgba(0,0,0,0.8);
}
.line {
  height: 500px;
  border-right: solid #282828;
}
.footer {
  width: 100%;
  background-color: #282828;
  min-height: 200px;
  color: #F8F8F8;
}

.footer-heading {
  color: #8C8C8C;
}

.footer a:hover {
  text-decoration: none;
}

.line-break {
  height: 25px;
  margin-top: 10px;
  margin-bottom: 25px;
  border-bottom: 2px solid #8C8C8C;
}
.ft-lf {
  float: left;
}
.in-bk {
  display: inline-block;
}
.section-box {
  width: 45%;
  margin: 20px;
  padding: 5%;
  text-align: center;
  /*box-shadow: 0px 0px 2px 2px #F8F8F8;*/
  -webkit-transition: background-color 0.7s;
  -moz-transition: background-color 0.7s;
  transition: background-color 0.7s;
}
a .section-box {
  color: #F8F8F8;
}
.section-box:hover {
  background-color: rgba(90, 90, 90, 0.7);
}