.modal.custom .modal-dialog {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -250px;
}

.modal-header {
  color: white;
  background-color: rgba(0,0,0,0.85);
  border-bottom: none;
}

#searchTitle {
  color: white;
  font-size: 2em;
}

.modal-body {
  background-color: rgba(0,0,0,0.85);
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: thin;
}

.modal-body input[type=text] {
  border-radius: 2px;
}

#bpm-field {
  width: 80px;
}

.modal-footer {
  color: white;
  background-color: rgba(0,0,0,0.85);
  border-top: none;
  text-align: center;
}

.modal-footer button {
  background-color: black;
  color: #F9F9F9;
  border: none;
}

@media (max-width: 1000px) {
  .modal.custom .modal-dialog {
    width: 95%;
  }
}