.modal.custom .modal-dialog {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -250px;
}

#addSongModal label {
  color: white;
  margin-top: 30px;
}

#addSongModal label output {
  color: white;
  font-size: 1.25em;
  margin-top: -20px;
}

.modal-header {
  color: white;
  background-color: rgba(0,0,0,0.85);
  border-bottom: none;
}

#searchTitle {
  color: white;
  font-size: 2em;
}

#thebpm {
  font-family: 'Audiowide', cursive;
}

.modal-body {
  background-color: rgba(0,0,0,0.85);
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: thin;
}

.modal-body input[type=text] {
  border-radius: 2px;
  width: 250px;
}

#milepace input[type=text] {
  width: 80px;
}

.modal-footer {
  color: white;
  background-color: rgba(0,0,0,0.85);
  border-top: none;
  text-align: center;
}

.modal-footer button {
  background-color: black;
  color: #F9F9F9;
  border: none;
  padding: 5px 10px 5px 10px;
  font-size: 1.5em;
}

/* slider overide */
input[type=range] {
  -webkit-appearance: none;
  margin: 5px 0;
  width: 200px;
  border-radius: 30px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 200px;
  height: 30px;
  cursor: pointer;
  animate: 0.2s;
  background: -webkit-linear-gradient(left, #9fd8ef , #2ab0ed); /* For Safari 5.1 to 6.0 */
  border-radius: 30px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2px 2px 2px #000000;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  background: -webkit-linear-gradient(#d8e0de , #829d98); /* For Safari 5.1 to 6.0 */
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: -webkit-linear-gradient(left, #9fd8ef , #2ab0ed);
}
input[type=range]::-moz-range-track {
  width: 200px;
  height: 30px;
  cursor: pointer;
  animate: 0.2s;
  background: -moz-linear-gradient(right, #9fd8ef, #2ab0ed);
  border-radius: 30px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  background: -moz-linear-gradient(#d8e0de, #829d98); /* For Firefox 3.6 to 15 */
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 250px;
  height: 30px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: linear-gradient(to right, #9fd8ef , #2ab0ed);
  border: 0.2px solid #010101;
  border-radius: 30px;
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
}
input[type=range]::-ms-fill-upper {
  background: linear-gradient(to right, #9fd8ef , #2ab0ed);
  border: 0.2px solid #010101;
  border-radius: 30px;
}
input[type=range]::-ms-thumb {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  background: linear-gradient(#d8e0de , #829d98); /* Standard syntax */
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
