.static-page {
  min-height: 500px;
  width: 100%;
  /*margin-left: 10%;*/
  margin-top: 5%;
  padding: 3%;
  background-color: rgba(0,0,0,0.8);
}
.static-banner {
  width: 100%;
  height: 150px;
  background-image: url('landscape_banner.jpg');
  background-size: cover;
  padding: 2%;
  padding-left: 7%;
}
.static-title {
  /*background-color: rgba(0,0,0,0.7);*/
  padding: 10px 10px 10px 40px;
  width: 600px;
  font-family: 'Open Sans', sans-serif;
}
.static-para {
  padding: 10px 10px 10px 40px;
  font-size: 1.7em;
  font-family: 'Open Sans', sans-serif;
}
.team_pic{
  height: 200px;
  margin: 40px;
  float: left;
  border-radius: 100%;
  opacity: 0.85;
  border: none;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  transition: border 0.5s;
}
.team_pic:hover {
  border: solid 10px white;
  opacity: 1;
  cursor: pointer;
}
.modal-title{
  color: #428bca;
}
.modal-body{
  color: #8C8C8C;
  font-size: 1.2em;
}
.faq_answer{
  font-size: .8em;
}
