.static-page {
  min-height: 700px;
  width: 100%;
  /*margin-left: 10%;*/
  margin-top: 5%;
  padding: 3%;
  background-color: rgba(0,0,0,0.8);
}
.static-banner {
  width: 100%;
  height: 150px;
  background-image: url('landscape_banner.jpg');
  background-size: cover;
  padding: 2%;
  padding-left: 7%;
}
.static-title {
  /*background-color: rgba(0,0,0,0.7);*/
  padding: 10px 10px 10px 40px;
  width: 600px;
  font-family: 'Quicksand', sans-serif;
}
.static-para {
  padding: 10px 10px 10px 40px;
  font-size: 1.7em;
  font-family: 'Quicksand', sans-serif;
}

