<div class="modal custom fade" id="addSongModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="searchTitle">Find Your <img src="/assets/mpulselogo.png" height="20px"/></h4>
      </div>
      <div class="modal-body">
        <form>
          <label>Search:<br>
            <input type="text" name="search" placeholder="eg. Ed Sheeran">
          </label><br>
          <label>
            <input type=range min=0 max=200 value=100 id=bpm step=1 oninput="outputUpdate(value)">
            <script>
            function outputUpdate(vol) {
            document.querySelector('#thebpm').value = vol + ' BPM';
            }
            </script>
            <output for=bpm id="thebpm">BPM</output>
          </label><br>
          <label id="milepace">Min/Mile Pace:<br>
            <input type="text" name="pace" placeholder="eg. 7">
          </label>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-default">Search</button>
        </form>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>