<div class="app-nav playlist-app-nav">
  <br><br>
  <a href="/playlists"><div class=".app-nav-imgbox">
    <img src="/assets/mpulselogo.png" class="app-nav-img"/><br><br>
  </div></a>
  <a href="/playlists/new"><div class="app-nav-btn">
    + New Playlist
  </div></a>
  <a href="/train"><div class="app-nav-btn">
    Start Training
  </div></a>
  <div class="playlist-list">
    <h4>Your Playlists</h4>
    <a href="/playlists/show"><div class="playlist">
      6min Mile Mix
    </div></a>
    <a href="#"><div class="playlist">
      Burner
    </div></a>
    <a href="#"><div class="playlist">
      Step Program
    </div></a>
    <a href="#"><div class="playlist">
      Crossfit Mix3
    </div></a>
    <a href="#"><div class="playlist">
      EDM Crossfit
    </div></a>
  </div>
</div>