<%= render partial: "navbar" %>
<%= render partial: "appnavbar" %>
<div class="app-container">
  <div class="app-header">
    <h1>This is <img src="/assets/mpulselogo.png" height="30"/></h1>
    <a href="#"><span class="add_new_song">+ PLAYLIST</span></a>
  </div>
  <div class="album-container">
    <div class="app-heading">
      Top Playlists
    </div>
    <div class="album-display">
      <div class="album">
        <img src="/assets/recommended1.jpg" class="album-art"/>
        <div class="album-text">JCole - Workout</div>
      </div>
      <div class="album">
        <img src="/assets/recommended2.png" class="album-art"/><br>
        <div class="album-text">Taylor Swift - 1989</div>
      </div>
      <div class="album">
        <img src="/assets/recommended3.jpg" class="album-art"/>
        <div class="album-text">Ed Sheeran - X</div>
      </div>
      <div class="album">
        <img src="/assets/recommended4.jpg" class="album-art"/>
        <div class="album-text">Calvin Harris - Motion</div>
      </div>
    </div>
    <div class="app-heading">
      Recommended Playlists
    </div>
    <div class="album-display">
      <div class="album">
        <img src="/assets/recommended5.jpg" class="album-art"/>
        <div class="album-text">Meghan Trainor - Title</div>
      </div>
      <div class="album">
        <img src="/assets/recommended6.png" class="album-art"/><br>
        <div class="album-text">Maroon 5 - V</div>
      </div>
      <div class="album">
        <img src="/assets/recommended7.jpg" class="album-art"/>
        <div class="album-text">Fallout Boy - Centuries</div>
      </div>
      <div class="album">
        <img src="/assets/recommended8.jpg" class="album-art"/>
        <div class="album-text">Bruno Mars - Unorthodox Jukebox</div>
      </div>
    </div>
    <div class="app-heading">
      Top User Playlists
    </div>
    <div class="album-display">
      <div class="album">
        <img src="/assets/default1.jpg" class="album-art"/>
        <div class="album-text">30 Minute Beastmode</div>
      </div>
      <div class="album">
        <img src="/assets/default1.jpg" class="album-art"/><br>
        <div class="album-text">Fat Burner 2.0</div>
      </div>
      <div class="album">
        <img src="/assets/default1.jpg" class="album-art"/>
        <div class="album-text">Melissa's Awesome Mix</div>
      </div>
      <div class="album">
        <img src="/assets/default1.jpg" class="album-art"/>
        <div class="album-text">Vanessa's Workout Mix</div>
      </div>
    </div>
  </div>
</div>