<%= render partial: "appnavbar" %>
<div class="app-container">
  <div class="app-header">
    <h1>6min Mile Mix</h1>
    <a href="#"><span class="add_new_song">+ ADD SONG</span></a>
  </div>
  <div class="playlist-headings">
    <div class="track">TRACK</div>
    <div class="artist">ARTIST</div>
    <div class="album-col">ALBUM</div>
    <div class="time">TIME</div>
    <div class="bpm">BPM</div>
  </div>
  <div class="song-container">
    <div class="song-section">
      <div class="track">Won't Back Down</div>
      <div class="artist">Eminem</div>
      <div class="album-col">Recovery</div>
      <div class="time">4:26</div>
      <div class="bpm">155</div>
      <div><a href="#">remove</a></div>
    </div>
    <div class="song-section">
      <div class="track">Song 2</div>
      <div class="artist">Blur</div>
      <div class="album-col">Blur</div>
      <div class="time">2:01</div>
      <div class="bpm">160</div>
      <div><a href="#">remove</a></div>
    </div>
    <div class="song-section">
      <div class="track">No Church in the Wild</div>
      <div class="artist">Jay Z</div>
      <div class="album-col">Watch the Throne</div>
      <div class="time">4:33</div>
      <div class="bpm">145</div>
      <div><a href="#">remove</a></div>
    </div>
    <div class="song-section">
      <div class="track">Sail</div>
      <div class="artist">AWOLNATION</div>
      <div class="album-col">Megalithic Symphony</div>
      <div class="time">4:19</div>
      <div class="bpm">150</div>
      <div><a href="#">remove</a></div>
    </div>
    <div class="song-section">
      <div class="track">TRACK</div>
      <div class="artist">ARTIST</div>
      <div class="album-col">ALBUM</div>
      <div class="time">TIME</div>
      <div class="bpm">BPM</div>
      <div><a href="#">remove</a></div>
    </div>
    <div class="song-section">
      <div class="track">TRACK</div>
      <div class="artist">ARTIST</div>
      <div class="album-col">ALBUM</div>
      <div class="time">TIME</div>
      <div class="bpm">BPM</div>
      <div><a href="#">remove</a></div>
    </div>
    <div class="song-section">
      <div class="track">TRACK</div>
      <div class="artist">ARTIST</div>
      <div class="album-col">ALBUM</div>
      <div class="time">TIME</div>
      <div class="bpm">BPM</div>
      <div><a href="#">remove</a></div>
    </div>
    <div class="song-section">
      <div class="track">TRACK</div>
      <div class="artist">ARTIST</div>
      <div class="album-col">ALBUM</div>
      <div class="time">TIME</div>
      <div class="bpm">BPM</div>
      <div><a href="#">remove</a></div>
    </div>
    <div class="song-section">
      <div class="track">TRACK</div>
      <div class="artist">ARTIST</div>
      <div class="album-col">ALBUM</div>
      <div class="time">TIME</div>
      <div class="bpm">BPM</div>
      <div><a href="#">remove</a></div>
    </div>
    <div class="song-section">
      <div class="track">TRACK</div>
      <div class="artist">ARTIST</div>
      <div class="album-col">ALBUM</div>
      <div class="time">TIME</div>
      <div class="bpm">BPM</div>
      <div><a href="#">remove</a></div>
    </div>
    <div class="song-section">
      <div class="track">TRACK</div>
      <div class="artist">ARTIST</div>
      <div class="album-col">ALBUM</div>
      <div class="time">TIME</div>
      <div class="bpm">BPM</div>
      <div><a href="#">remove</a></div>
    </div>
    <div class="song-section">
      <div class="track">TRACK</div>
      <div class="artist">ARTIST</div>
      <div class="album-col">ALBUM</div>
      <div class="time">TIME</div>
      <div class="bpm">BPM</div>
      <div><a href="#">remove</a></div>
    </div>
    <div class="song-section">
      <div class="track">TRACK</div>
      <div class="artist">ARTIST</div>
      <div class="album-col">ALBUM</div>
      <div class="time">TIME</div>
      <div class="bpm">BPM</div>
      <div><a href="#">remove</a></div>
    </div>
    <div class="song-section">
      <div class="track">TRACK</div>
      <div class="artist">ARTIST</div>
      <div class="album-col">ALBUM</div>
      <div class="time">TIME</div>
      <div class="bpm">BPM</div>
      <div><a href="#">remove</a></div>
    </div>
    <div class="song-section">
      <div class="track">TRACK</div>
      <div class="artist">ARTIST</div>
      <div class="album-col">ALBUM</div>
      <div class="time">TIME</div>
      <div class="bpm">BPM</div>
      <div><a href="#">remove</a></div>
    </div>
    </table>
  </div>
</div>